<!doctype html>
<!-- The DOCTYPE declaration above will set the     -->
<!-- browser's rendering engine into                -->
<!-- "Standards Mode". Replacing this declaration   -->
<!-- with a "Quirks Mode" doctype is not supported. -->

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='heteroatom-static/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='heteroatom-static/favicon-96x96.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='heteroatom-static/favicon-16x16.png')}}">

<title>HeteroFAM</title>

<style>
   blink, .blink {
   animation: blinker 1s linear infinite;
   }
   @keyframes blinker {  
   50% { opacity: 0; }
   }

.linkbanner {
  position: relative;
  //display: inline-block;
  padding: 1px;
  // background-color: lightblue;
  //background-image: linear-gradient(blue,#FEFEFE,blue);
  //background-image: linear-gradient(blue,orange,blue);
  //background-image: linear-gradient(#4286f4,orange,#4286f4);
  //background-image: linear-gradient(#38761D,orange,#38761D);
  background-image: linear-gradient(#92D0DF,#EEC689,#92D0DF);
  //background-image: linear-gradient(#4286f4,#599a3e,#4286f4);
  //background-image: linear-gradient(#2f61ce,lightorange,#2f61ce);
  //background-image: linear-gradient(#2f61ce,gold,#2f61ce);
  //background-image: linear-gradient(#4286f4,gold,#4286f4);
  font-size: 18px;
  font-weight: bold;
  font-family: arial;
  color: #1C6291;
}

 .linkbanner a {
            color: #1C6291;
            text-decoration: none;
        }

        .linkbanner a:hover {
            text-decoration: underline;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
            border-left: 10px; /* Larger left border */
            /*border-left: 10px solid #2C3E50; /* Larger left border */*/
            padding-left: 20px; /* Padding to avoid text being too close to the border */
        }

        h1, h2, h3 {
            color: #2C3E50;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        header {
            color: #1C6291;
            background-color: #0d3b66;
            padding: 20px;
            text-align: center;
}
</style>


<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='jsme-latest/jsme.nocache.js')}}"></script>



<script type="text/javascript">

	//this function will be called after the JavaScriptApplet code has been loaded.
	function jsmeOnLoad() {

		//Instantiate a new JSME: 380px  340px
		//arguments: HTML id, width, height (must be string not number!)
		//jsmeApplet = new JSApplet.JSME("appletContainer", "700px", "467px", {

		jsmeApplet = new JSApplet.JSME("appletContainer", "750px", "500px", {
			//optional parameters
			//"options" : "query,hydrogens"
                        "options" : "query,hydrogens,canonize,removehs,atommovebutton,fullScreenIcon"
		});

		//Alternative method: the size is not specified: the applet will use 100% of the space of its parent container "appletContainer".
		//Be sure that the parent container size > 0, otherwise the applet will not be visible

		/*    	jsmeApplet = new JSApplet.JSME("appletContainer",  {
		 //optional parameters
		 "options" : "query,hydrogens",
		 "jme" : startingStructure
		 });
		 */

		//Opera patch: if some applet elements are not displayed, force repaint
		//jsmeApplet.deferredRepaint(); //the applet will be repainted after the browser event loop returns
		//it is recommended to use it if the JSME is created outside this jsmeOnLoad() function

		//jsmeApplet has the same API as the original Java applet
		//One can mimic the JME Java applet access to simplify the adaptation of HTML and JavaScript code:
		document.JME = jsmeApplet;

		//suggestion 
		//all buttons that access the jsme variable were disabled in the html
		//Now enable all buttons that can access the jsme variable since the applet is ready
		//example:
		//document.getElementById("button").disabled=false;
                jsmeApplet.setMenuScale(1.2);

	}

	function readMolecule() {
		var jme = "16 17 C 7.37 -8.99 C 7.37 -7.59 C 6.16 -6.89 C 4.95 -7.59 C 4.95 -8.99 C 6.16 -9.69 N 8.58 -6.89 C 8.58 -5.49 C 7.37 -4.79 O 6.16 -5.49 C 9.80 -7.59 O 9.80 -8.99 C 11.01 -6.89 Cl 12.22 -7.59 Cl 11.01 -5.49 C 9.80 -4.79 1 2 1 2 3 2 3 4 1 4 5 2 5 6 1 6 1 2 7 8 1 8 9 1 9 10 1 3 10 1 2 7 1 7 11 1 11 12 2 11 13 1 13 14 1 13 15 1 8 16 1";
		jsmeApplet.readMolecule(jme); // or document.JME.readMolecule(jme);
	}


        function esmiles2dWindow() {
           
           var mol    = document.form.smi.value.split("~")[0];
           var re = /\+/g;
           var re2 = / /g;
           mol = mol.split("~")[0];
           
           mol = mol.replace(re, ".");
           mol = mol.replace("-->",">>");
           
           var smiles = mol.replace(re2,"");
           
           jsmeApplet.readGenericMolecularInput(smiles);
        }


	function readMultipart() {
		var jme = "9 9 C 6.68 -7.15 C 5.47 -6.45 C 4.26 -7.15 C 4.26 -8.55 C 5.47 -9.25 C 6.68 -8.55 C 5.47 -5.05 O- 6.68 -4.35 O 4.26 -4.35 1 2 1 2 3 2 3 4 1 4 5 2 5 6 1 6 1 2 2 7 1 7 8 1 7 9 2|1 0 Na+ 12.21 -6.61";
		jsmeApplet.readMolecule(jme) // or document.JME.readMolecule(jme
	}

	function readReaction() {
		var jme = "3 2 C:1 1.41 -7.12 O:2 1.41 -5.72 Cl 2.63 -7.82 1 2 2 1 3 1|3 2 N:3 5.72 -6.78 C:4 7.12 -6.78 H:5 5.02 -7.99 1 2 1 1 3 1 >> 5 4 C:1 13.51 -6.40 O:2 13.51 -5.00 N:3 14.72 -7.10 C:4 15.94 -6.40 H:5 14.71 -8.50 1 2 2 1 3 1 3 4 1 3 5 1";
		jsmeApplet.readMolecule(jme);
	}

	function getMolfile() {
		var data = document.JME.molFile();
		document.getElementById("jme_output").value = data;

	}
	function getSmiles() {
                var drawing = document.JME.smiles();
                document.form.smi.value = drawing;
	}
	function appendSmiles() {
                var drawing = document.JME.smiles();
                 var re = /\./g;
                drawing = drawing.replace(re, " + ");
                drawing = drawing.replace(">>"," --> ");
                document.form.smi.value += drawing;
	}
	function clearSmiles() {
                document.form.smi.value = ""
                document.getElementById('runmebanner').innerHTML="";
	}

        function emailSmiles() {
                var email=('arrows@emsl.pnnl.gov');
                var subject = (document.form.smi.value);
                var subjectEncoded = encodeURIComponent(subject);
                var body = ('I am the body of the feedback that you are sending.');
                var link = 'mailto:'+email+'?subject='+subjectEncoded;
                window.location.href = link;
                //document.write( '<a href="mailto:' + email +
                //                '?subject=' +subject+
                //                '">' + 'Click here to send email to arrows' + '<' + '/a>');
        }

        function jsmereaction() {
           jsmeApplet.options("query,hydrogens,canonize,removehs,reaction");
           //jsmeApplet.reset();
        }
        function jsmenoreaction() {
           jsmeApplet.options("query,hydrogens,canonize,removehs,noreaction");
           //jsmeApplet.reset();
        }

        function jmreactionplane() {
           var scpt;
           var jjj = document.getElementById("jmolreactionplane").value;
           if  (jjj == "Reaction off") {
              document.getElementById("jmolreactionplane").value = "Reaction on";
              jsmenoreaction();
           } else {
              document.getElementById("jmolreactionplane").value = "Reaction off";
              jsmereaction();
           }
        }
        //document.getElementById("jmolreactionplane").value = "Reaction on";


	function getJMEstring() {
		var data = document.JME.jmeFile();
		document.getElementById("jme_output").value = data;
	}

        function charge_arrowsdata() {
           var arrows_input = document.form.smi.value;
           var charge = 0
           if (arrows_input.includes("^{")) {
              charge = eval(arrows_input.split("^{")[1].split("}")[0].trim());
           }
           return charge;
        }
        function mult_arrowsdata() {
           var arrows_input = document.form.smi.value;
           var mult = 1
           if (arrows_input.includes("mult{")) {
              mult = eval(arrows_input.split("mult{")[1].split("}")[0].trim());
           }
           return mult;
        }
        function entermult() {
           var rr;
           var mult0 = mult_arrowsdata();
           var mult = prompt("Please enter multiplicity:", mult0);
           if (document.form.smi.value.includes("mult{")) {
              rr = document.form.smi.value.split("mult{")[1].split("}")[0];
              rr = "mult{" + rr + "}";
              document.form.smi.value = document.form.smi.value.replace(rr,"");
           }
           document.form.smi.value += " mult{"+mult+"}";
        }
        function entercharge() {
           var rr;
           var charge0 = charge_arrowsdata();
           var charge = prompt("Please enter charge:", charge0);
           if (document.form.smi.value.includes("^{")) {
              rr = document.form.smi.value.split("^{")[1].split("}")[0];
              rr = "^{" + rr + "}";
              document.form.smi.value = document.form.smi.value.replace(rr,"");
           }
           document.form.smi.value += " ^{"+charge+"}";
        }

        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
               if ((new Date().getTime() - start) > milliseconds){
                  break;
               }
            }
        }

        function Confirm(form){
            //alert("Record insert successfully!"); 
            var mytext = "Your Arrows job for " + document.form.smi.value + " is running. Please be patient for it to finish.";
            document.getElementById('runmebanner').innerHTML=mytext;

            //var node = document.getElementById('runmebanner');
            //while (node.firstChild) node.removeChild( node.firstChild);
            //node.appendChild(document.createTextNode(mytext));
            sleep(500);
            form.submit();
        }





        function txspressed(button0) {
           var mystr = document.form.smi.value;
           var headstr   = "";
           var tailstr   = "";
           var theorystr = "";
           var xcstr     = "";
           var solvstr   = "";
           var basisstr   = "";

           if (mystr.includes("theory{") || mystr.includes("xc{") || mystr.includes("solvation_type{") || mystr.includes("basis{")) {
              ss = mystr.trim().split(" ");
              sslen = ss.length;
              for (var i=0; i<sslen; ++i) {
                 if (ss[i].includes("theory{") || ss[i].includes("xc{") || ss[i].includes("solvation_type{") || ss[i].includes("basis{") ) {
                    tailstr += ss[i] + " "
                 } 
                 else {
                    headstr += ss[i] + " "
                 }
              }
              headstr = headstr.trim();
              tailstr = tailstr.trim();
           }
           else {
              headstr = mystr.trim();
           }

           if (tailstr.includes("theory{")) {
              theorystr = tailstr.split("theory{")[1].split("}")[0].trim();
           }

           if (tailstr.includes("xc{")) {
              xcstr = tailstr.split("xc{")[1].split("}")[0].trim();
           }

           if (tailstr.includes("solvation_type{")) {
              solvstr = tailstr.split("solvation_type{")[1].split("}")[0].trim();
           }
           if (tailstr.includes("basis{")) {
              basisstr = tailstr.split("basis{")[1].split("}")[0].trim();
           }

           if (button0=="dft")     { theorystr = "dft"; }
           if (button0=="pspw")    { theorystr = "pspw"; }
           if (button0=="pspw4")   { theorystr = "pspw4"; }
           if (button0=="mp2")     { theorystr = "mp2"; }
           if (button0=="ccsd(t)") { theorystr = "ccsd(t)"; }
           if (button0=="pm3")     { theorystr = "pm3"; }

           if (button0=="6-31G*")          { basisstr = "6-31G*"; }
           if (button0=="6-311++G(2d,2p)") { basisstr = "6-311++G(2d,2p)"; }

           if (button0=="lda")    { xcstr = "lda"; }
           if (button0=="pbe")    { xcstr = "pbe"; }
           if (button0=="pbe0")   { xcstr = "pbe0"; }
           if (button0=="blyp")   { xcstr = "blyp"; }
           if (button0=="b3lyp")  { xcstr = "b3lyp"; }
           if (button0=="m06-2x") { xcstr = "m06-2x"; }

           if (button0=="Born")      { solvstr = "Born"; }
           if (button0=="COSMO")     { solvstr = "COSMO"; }
           if (button0=="COSMO-SMD") { solvstr = document.getElementById("COSMO-SMD").value.split("{")[1].split("}")[0]; }
           if (button0=="None")      { solvstr = "None"; }

           // remove conflicting options
           if (((theorystr=="dft") || (theorystr=="mp2") || (theorystr=="ccsd(t)") || (theorystr=="")) && (solvstr=="Born")) { solvstr = "COSMO"; }
           if ((theorystr=="mp2") || (theorystr=="ccsd(t)"))                                   { xcstr = ""; }
           if (((theorystr=="pspw") || (theorystr=="pspw4")) && (xcstr=="m06-2x"))             { xcstr = ""; }
           if (((theorystr=="pspw")) && (solvstr.includes("COSMO")))                           { solvstr = "Born"; }
           if (((theorystr=="pspw") || (theorystr=="pspw4")) && (basisstr=="6-31G*"))          { basisstr = ""; }
           if (((theorystr=="pspw") || (theorystr=="pspw4")) && (basisstr=="6-311++G(2d,2p)")) { basisstr = ""; }
           if (theorystr=="pm3") { 
              xcstr = ""; 
              basisstr = ""; 
              if (solvstr=="COSMO-SMD") {solvstr="";}
           }

           // set the button colors
           var color1="background-color:#f8f8ff; color:#298DB4;";
           var color2="background-color:#f8f8ff; color:#74A52B;";
           if (theorystr=="dft") {
               document.getElementById("lda").style     = color1;
               document.getElementById("pbe").style     = color1;
               document.getElementById("pbe0").style    = color1;
               document.getElementById("blyp").style    = color1;
               document.getElementById("b3lyp").style   = color1;
               document.getElementById("m06-2x").style  = color1;
               document.getElementById("Born").style     = color2;
               document.getElementById("COSMO").style     = color1;
               document.getElementById("COSMO-SMD").style = color1;
               document.getElementById("None").style      = color1;
               document.getElementById("6-31G*").style = color1;
               document.getElementById("6-311++G(2d,2p)").style = color1;
           } else if (theorystr=="pspw") {
               document.getElementById("lda").style     = color1;
               document.getElementById("pbe").style     = color1;
               document.getElementById("pbe0").style    = color1;
               document.getElementById("blyp").style   = color1;
               document.getElementById("b3lyp").style   = color1;
               document.getElementById("m06-2x").style  = color2;
               document.getElementById("Born").style     = color1;
               document.getElementById("COSMO").style     = color2;
               document.getElementById("COSMO-SMD").style = color2;
               document.getElementById("None").style      = color1;
               document.getElementById("6-31G*").style = color2;
               document.getElementById("6-311++G(2d,2p)").style = color2;
           } else if (theorystr=="pspw4") {
               document.getElementById("lda").style     = color1;
               document.getElementById("pbe").style     = color1;
               document.getElementById("pbe0").style    = color1;
               document.getElementById("blyp").style   = color1;
               document.getElementById("b3lyp").style   = color1;
               document.getElementById("m06-2x").style  = color2;
               document.getElementById("Born").style      = color1;
               document.getElementById("COSMO").style     = color1;
               document.getElementById("COSMO-SMD").style = color1;
               document.getElementById("None").style      = color1;
               document.getElementById("6-31G*").style = color2;
               document.getElementById("6-311++G(2d,2p)").style = color2;
           } else if (theorystr=="mp2") {
               document.getElementById("lda").style     = color2;
               document.getElementById("pbe").style     = color2;
               document.getElementById("pbe0").style    = color2;
               document.getElementById("blyp").style   = color2;
               document.getElementById("b3lyp").style   = color2;
               document.getElementById("m06-2x").style  = color2;
               document.getElementById("Born").style     = color2;
               document.getElementById("COSMO").style     = color1;
               document.getElementById("COSMO-SMD").style = color1;
               document.getElementById("None").style      = color1;
               document.getElementById("6-31G*").style = color1;
               document.getElementById("6-311++G(2d,2p)").style = color1;
           } else if (theorystr=="ccsd(t)") {
               document.getElementById("lda").style     = color2;
               document.getElementById("pbe").style     = color2;
               document.getElementById("pbe0").style    = color2;
               document.getElementById("blyp").style   = color2;
               document.getElementById("b3lyp").style   = color2;
               document.getElementById("m06-2x").style  = color2;
               document.getElementById("Born").style     = color2;
               document.getElementById("COSMO").style     = color1;
               document.getElementById("COSMO-SMD").style = color1;
               document.getElementById("None").style      = color1;
               document.getElementById("6-31G*").style = color1;
               document.getElementById("6-311++G(2d,2p)").style = color1;
           } else if (theorystr=="pm3") {
               document.getElementById("lda").style     = color2;
               document.getElementById("pbe").style     = color2;
               document.getElementById("pbe0").style    = color2;
               document.getElementById("blyp").style   = color2;
               document.getElementById("b3lyp").style   = color2;
               document.getElementById("m06-2x").style  = color2;
               document.getElementById("Born").style     = color2;
               document.getElementById("COSMO").style     = color1;
               document.getElementById("COSMO-SMD").style = color2;
               //document.getElementById("None").style      = color1;
               document.getElementById("6-31G*").style = color2;
               document.getElementById("6-311++G(2d,2p)").style = color2;
           }

           // set the esmiles string
           document.form.smi.value = headstr;
           //if ((theorystr!="") || (xcstr!="") || (solvstr!="")) { document.form.smi.value += " ~ "; }
           if ((headstr.includes("-->") || headstr.includes("==>"))  && (!headstr.includes("~"))) { document.form.smi.value += " ~ "; }
           if (theorystr!="") { document.form.smi.value += " theory{" + theorystr + "}"; }
           if (xcstr!="")     { document.form.smi.value += " xc{" + xcstr + "}"; }
           if (solvstr!="")   { document.form.smi.value += " solvation_type{" + solvstr + "}"; }
           if (basisstr!="")   { document.form.smi.value += " basis{" + basisstr + "}"; }

        }



</script>
</head>


<body>

<!--div class="linkbanner">
   <a href="https://arrows.emsl.pnnl.gov/api"><img src="{{url_for('static', filename='heteroatom-static/EMSLArrows2019.png')}}" alt="Copyright Arrows Logo" width="180" height="90" align="middle"></a>
<a href="https://arrows.emsl.pnnl.gov/api/periodic">3D Periodic Editor</a> &nbsp;
   <a href="https://arrows.emsl.pnnl.gov/api/3dbuilder">3D Molecular And Reaction Editor</a>  &nbsp; <a href="https://arrows.emsl.pnnl.gov/api/expert">Expert Editor</a> &nbsp;   <a href="https://arrows.emsl.pnnl.gov/api/qsharp_chem">Microsoft Quantum Editor</a> &nbsp;  <a href="https://arrows.emsl.pnnl.gov/api/magnetic">EMSL Magnetic Workshop Editor</a> &nbsp; <a href="https://nwchemgit.github.io/EMSL_Arrows.html#">Manual</a> 
</div-->

<div class="linkbanner">
   <a href="{{ heterofam_api }}"><img src="{{url_for('static', filename='heteroatom-static/HeteroFAM.png')}}" alt="Copyright HeteroFAM Logo" width="120" height="120" align="middle"></a>
<a href="{{ heterofam_api }}periodic">Expert Periodic and Molecular Editor </a> &nbsp; &nbsp;  <a href="{{ heterofam_api }}magnetic"> Magnetic Editor</a> &nbsp;  <a href="{{ heterofam_api }}ssh_tunnel">SSH Tunneling</a> &nbsp; <a href="https://ebylaska.github.io/TinyArrows/">Manual</a> &nbsp;  <a href="{{ heterofam_api }}eric_view2/list=">Projects</a> 

</div>


	<!-- RECOMMENDED if your web app will not function without JavaScript enabled -->
	<noscript>
		<div
			style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
			Your web browser must have JavaScript enabled in order for this
			application to display correctly.</div>
	</noscript>


    <center>
        <p style="font-size:5vw; font-weight:bold; text-transform:uppercase;
             background: linear-gradient(90deg, #FF6F61, #FFD700, #17C3B2, #1C6291);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
             font-family: 'Montserrat', sans-serif;">
          Navigating the Design Space of Heterostructures
        </p>
    </center>
    <center>
        <p style="color:#1C6291; font-size:24px; font-weight:bold;">
            DOE BES Computational Materials and Chemical Sciences Network (CMCSN) Initiative
        </p>
        <p style="color:#1C6291; font-size:24px; font-weight:bold;">
             Partner Institutions: Pacific Northwest National Laboratory (PNNL) and the University of Washington (UW)
         </p>
        <p style="color:#1C6291; font-size:24px; font-weight:bold;">
            Sponsor: The U.S. Department of Energy's Basic Energy Sciences Computational Materials Sciences (DOE BES CMCSN, FWP 83557) program.
         </p>
         </p>
    </center>
    <div style="text-align: center; margin-top: 20px;">
    <img src="{{url_for('static', filename='heteroatom-static/Picture1.png')}}" alt="Image 1" style="max-width: 30%; height: auto; margin-bottom: 20px;">
    <img src="{{url_for('static', filename='heteroatom-static/Picture2.png')}}" alt="Image 2" style="max-width: 20%; height: auto; margin-bottom: 20px;">
    <img src="{{url_for('static', filename='heteroatom-static/Picture3.png')}}" alt="Image 3" style="max-width: 20%; height: auto; margin-bottom: 20px;">
    </div>

	<div style="background-color: #f0f4f8; padding: 20px; border-radius: 10px;">

	   <!-- Flexbox container to align sections side by side -->
           <div style="display: flex; justify-content: space-between; padding: 20px;">

               <!-- Section: Project Mission -->
               <div style="flex: 1; margin-right: 20px;">
                   <h2 style="font-size: 28px;">Welcome to HeteroFAM</h2>
                   <p style="font-size: 20px;"> At the cutting edge of materials research, HeteroFAM is a joint Pacific Northwest National Laboratory (PNNL) and University of Washington (UW) project designed to revolutionize the modeling, discovery, and understanding of complex material systems. By integrating advanced computational tools, machine learning, and automation, HeteroFAM enables breakthroughs in areas such as moiré materials, correlated electron physics and emergent quantum phenomena, and magnetic materials.</p>

                   <p style="font-size: 20px;">Rooted in the three-pillared modeling framework, HeteroFAM bridges first principles, empirical insights, and scalable workflows to tackle the scientific challenges of the 21st century.</p>

                  <h2 style="font-size: 28px;">Three-Pillared Modeling Framework</h2>
                  <p>The <strong>three-pillared modeling framework</strong> is the backbone of the HeteroFAM project, combining three core approaches to tackle the most challenging problems in materials science, from moiré materials to quantum systems. These pillars—**analytic models**, **data-driven models**, and **automation**—work together seamlessly to provide a comprehensive and adaptable strategy for discovery.</p>


                  <h3 style="font-size: 18px;">1. Analytic Models (Rationalism)</h3>
                  <p>Based on fundamental physical laws, **analytic models** are the cornerstone of the framework, offering mechanistic insights derived from quantum mechanics, thermodynamics, and classical mechanics. These models allow us to understand the intrinsic behaviors of systems and make reliable predictions from first principles.</p>
                  <p><strong>HeteroFAM’s Contributions:</strong></p>
                  <ul>
                      <li>Developing quantum mechanical models for accurately describing electronic interactions in materials like moiré systems and transition metal oxides.</li>
                      <li>Integrating first-principles simulations with multi-scale models to study complex, emergent phenomena like high-temperature superconductivity.</li>
                  </ul>

                  <h3 style="font-size: 18px;">2. Data-Driven Models (Empiricism)</h3>
                  <p>Informed by the philosophy of **empiricism**, **data-driven models** utilize machine learning and statistical techniques to extract patterns and relationships from large datasets. These models are indispensable for exploring systems where analytical models may be computationally expensive or difficult to implement.</p>
                  <p><strong>HeteroFAM’s Contributions:</strong></p>
                  <ul>
                      <li>Training machine learning models to uncover hidden correlations in experimental data, enabling rapid discovery of new materials and correlated states.</li>
                      <li>Automating the analysis of materials properties, optimizing design spaces based on both theoretical and experimental datasets.</li>
                  </ul>

                  <h3 style="font-size: 18px;">3. Automation (Pragmatism)</h3>
                  <p>With the **pragmatic** goal of enabling scalable, efficient, and reproducible research, **automation** integrates the analytic and data-driven pillars into dynamic, adaptable workflows. Automation enhances productivity by handling repetitive tasks, optimizing parameters, and seamlessly managing multi-scale simulations.</p>
                  <p><strong>HeteroFAM’s Contributions:</strong></p>
                  <ul>
                      <li>Creating high-throughput workflows that combine analytic and data-driven models, accelerating the discovery of new materials and quantum phases.</li>
                      <li>Employing optimization algorithms, genetic algorithms, and AI-driven co-pilots to automate decision-making and improve efficiency in the exploration of complex systems.</li>
                  </ul>

                  <p>Together, these three pillars create a robust framework that balances fundamental understanding with practical data applications and scalable automation. This holistic approach enables HeteroFAM to solve some of the most pressing challenges in modern materials science.</p>


                  <h2 style="font-size: 28px;">Get Involved</h2>
                  <ul style="font-size: 20px;">
                  <p> HeteroFAM invites collaboration with researchers across disciplines. Whether you’re exploring moiré materials, advancing reaction networks, or tackling quantum magnetism, our platform and expertise are here to support your work.</p>
                  </ul>

               </div>
     

               <!-- Section: Project Features -->
               <div style="flex: 1;">
                  <h2 style="font-size: 28px;">Key Focus Areas</h2>
                  <ul>
                      <li>
                          <strong>Thrust 1:</strong> Machine Learning Workflows for Correlated and Topological Moiré Systems
                          <p>Moiré materials, formed by stacking and twisting 2D layers with mismatched lattice constants, have emerged as a platform for discovering correlated electron states and topological phases. These systems exhibit highly tunable properties, such as superconductivity, magnetism, and exotic quantum phenomena.</p>
                          <p><strong>HeteroFAM’s Contributions:</strong></p>
                          <ul>
                              <li>Developing machine learning workflows that analyze electronic interactions and band structures in moiré systems.</li>
                              <li>Automating the discovery of new correlated and topological states by integrating high-throughput data with advanced computational models.</li>
                              <li>Enabling rapid exploration of parameter spaces, such as twist angles, external fields, and layer alignments.</li>
                          </ul>
                          <p></p>
                      </li>
                      <li>
                          <strong>Thrust 2:</strong> Prototype Development for Correlated Electron Physics and Emergent States
                          <p> Understanding the physics of strongly correlated electrons is critical for discovering correlated electron states and topological phases and designing materials with unique quantum properties.</p>
                          <p><strong>HeteroFAM’s Contributions:</strong></p>
                          <ul>
                              <li>Creating prototypes to study emergent states in correlated materials, including:
                                  <ul>
                                      <li>Complex spin configurations</li>
                                      <li>Quantum critical points</li>
                                      <li>Novel magnetic phases</li>
                                  </ul>
                              </li>
                              <li>Build and refine next-generation models to understand and reliably predict complex quantum behaviors from first principles.</li>
                              <li>Reinforce and validate machine learning and AI-driven workflows while bridging the gap between theory and experiment.</li>
                          </ul>
                          <p></p>
                      </li>
                      <li>
                          <strong>Thrust 3:</strong> AI-Driven Expert System for Spin Configurations in Transition Metal Oxides
                          <p>Transition metal oxides are key materials for applications in energy, catalysis, and spintronics. Their complex spin configurations present both challenges and opportunities for material design.</p>
                          <p><strong>HeteroFAM’s Contributions:</strong></p>
                          <ul>
                              <li>Designing an AI-driven expert system to predict and optimize spin configurations in transition metal oxides.</li>
                              <li>Integrating first-principles calculations with data-driven approaches to uncover trends in magnetic and electronic behaviors.</li>
                              <li>Streamlining workflows to design materials with specific magnetic properties for quantum computing and energy storage applications.</li>
                          </ul>
                      </li>
                  </ul>

                  <h2 style="font-size: 28px;">Tools and Technologies</h2>
                  <ul>
                      <li>
                          <strong>Advanced Algorithms:</strong>
                          <p>HeteroFAM leverages state-of-the-art computational algorithms to enhance the precision and efficiency of its modeling workflows. This includes genetic algorithms, machine learning techniques, and optimization frameworks designed to tackle complex problems in materials science.</p>
                      </li>
                      <li>
                          <strong>Computational Platforms:</strong>
                          <p>Utilizing cutting-edge computational platforms such as quantum computing and exascale computing systems enables HeteroFAM to perform large-scale simulations and handle computationally intensive tasks effectively, driving forward the boundaries of scientific research.</p>
                      </li>
                      <li>
                          <strong>EMSL Arrows:</strong>
                          <p>EMSL Arrows acts as the workflow engine behind HeteroFAM, integrating various modeling approaches and facilitating seamless collaboration across different research teams. This web-based platform ensures that complex simulations are accessible and manageable.</p>
                      </li>
                  </ul>
               </div>



            </div>
            </div>


        <!-- Flexbox container for the table -->
	<!-- Flexbox container for the table -->
      <div style="background-color: #f0f4f8; padding: 20px; border-radius: 10px; margin-top: 20px;">


        <!-- Section: Timeline of Key Activities -->
        <div style="flex: 1;">
            <h2 style="font-size: 28px;">Timeline of Key Activities</h2>
            <ul style="font-size: 20px;">
            <table border="1" cellpadding="10" cellspacing="0" style="width: 100%; border-collapse: collapse; text-align: center;">
                <thead>
                    <tr style="background-color: #d1e7ff;">
                        <th>Quarter</th>
                        <th>Thrust 1: ML Workflows</th>
                        <th>Thrust 2: COVOs-QFlow</th>
                        <th>Thrust 3: AI Spin Configurations</th>
                        <th>Milestones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Year 1</td>
                        <td>Dataset preparation (Q1-Q2)<br>Initial ML model training (Q3-Q4)</td>
                        <td>Define architecture (Q1-Q2)<br>Prototype development (Q3)</td>
                        <td>Literature review (Q1-Q2)<br>AI framework design (Q3-Q4)</td>
                        <td>Initial prototypes for all thrusts by Q4</td>
                    </tr>
                    <tr>
                        <td>Year 2</td>
                        <td>Scaling ML models (Q1-Q3)<br>Predict new materials (Q4)</td>
                        <td>Advanced functionality (Q1-Q3)<br>Release to the community (Q4)</td>
                        <td>Optimizing AI for complex oxides (Q1-Q2)<br>Publish results and tool (Q4)</td>
                        <td>Full validation of models and tools by Q4</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

<font color="1C6291" size="+2"> 
<details>
    <summary><strong>Show/Hide Project Features and Mission</strong></summary>

        <h2>HeteroFAM Acronym Meaning: Heterostructures, Functionality, Advanced Modeling</h2>
        <ul>
           <li><strong>Heterostructures</strong>: Refers to materials made by stacking different two-dimensional (2D) materials or compounds with varying compositions or properties.</li>
           <li><strong>Functionality</strong>: Focuses on the unique properties or functions that arise from the combination of different materials in heterostructures.</li>
           <li><strong>Advanced Modeling</strong>: Involves the use of cutting-edge computational and theoretical techniques to predict and understand the behavior of these heterostructures.</li>
        </ul>

        <p><strong>HeteroFAM</strong> refers to a project or research initiative focused on the modeling and functional study of heterostructures to explore their advanced functionalities.</p>


        <h2>Key Features</h2>
        <p> Revolutionize materials design and discovery by integrating advanced computational methodologies and machine learning (ML) techniques.  Leverage first-principles computational tools, higher-level methods, and advanced AI algorithms tools to enable rational, hypothesis-driven exploration of 2D heterostructures
Our platform integrates the latest in computational advancements to provide seamless access to high-performance computing environments.
</p>

        <h2>Our Mission</h2>
        <p> The mission of the Navigating the Design Space of Heterostructures (HeteroFAM) project is to revolutionize materials science by advancing the computational modeling and design of two-dimensional (2D) materials and transition metal oxides. Leveraging exascale computing, machine learning, and advanced electronic structure methods, the project aims to explore and optimize the properties of complex heterostructures. It focuses on developing tools to enable the rapid discovery of novel materials with enhanced functionalities, with the goal to foster innovation in next-generation technologies. Through community engagement, open software development, and user-friendly interfaces, the project strives to make cutting-edge computational tools accessible to researchers across diverse disciplines, thereby accelerating progress in materials science and engineering.  </p>

<h2>Sponsor</h2>
 <a href="{{ heterofam_api }}"><img src="{{url_for('static', filename='heteroatom-static/bes-subprograms-mse-4.png')}}" alt="Copyright HeteroFAM Logo" width="120" height="120" align="middle"></a>
<p>Sponsored by the U.S. Department of Energy's Basic Energy Sciences Computational Materials Sciences (DOE BES CMCSN) program.</p>

</details>


<font color="1C6291" size="+2"> 
<details>
    <summary><strong>Show/Hide Work Plan</strong></summary>
    <h2>Work Plan: Navigating the Design Space of Heterostructures</h2>

    <h2>1. Overview of Key Phases</h2>
    <p>The project is divided into <strong>three major thrusts</strong> that will progress over two years:</p>
    <ul>
        <li><strong>Thrust 1:</strong> Machine Learning (ML) workflows to discover new correlated and topological moiré systems.</li>
        <li><strong>Thrust 2:</strong> Prototype development for studying correlated electron physics and emergent states.</li>
        <li><strong>Thrust 3:</strong> AI-driven expert system for spin configurations in transition metal oxides.</li>
    </ul>

    <h2>2. Year 1: Planning, Development, and Initial Modeling</h2>

    <h3>2.1 Thrust 1: Building ML Workflows</h3>
    <p><strong>Objective:</strong> Develop and test initial machine learning models for predicting the properties of correlated and topological moiré systems.</p>
    <ul>
        <li><strong>Tasks:</strong>
            <ul>
                <li>Q1-Q2: Define key datasets from <em>ab initio</em> calculations for training ML models.</li>
                <li>Q3: Train preliminary models on smaller datasets to test the robustness of predictions.</li>
                <li>Q4: Optimize ML algorithms for higher accuracy and begin identifying new candidate materials.</li>
            </ul>
        </li>
        <li><strong>Milestones:</strong>
            <ul>
                <li>Completion of dataset preparation.</li>
                <li>Initial ML model validation on small datasets.</li>
            </ul>
        </li>
    </ul>

    <h3>2.2 Thrust 2: Prototype Development for COVOs-QFlow</h3>
    <p><strong>Objective:</strong> Design and build a prototype of COVOs-QFlow for studying correlated electron physics in 2D materials.</p>
    <ul>
        <li><strong>Tasks:</strong>
            <ul>
                <li>Q1-Q2: Define system architecture and user requirements for COVOs-QFlow.</li>
                <li>Q3: Begin coding the initial prototype with basic functionality.</li>
                <li>Q4: Test the prototype on simple 2D material systems and assess output accuracy.</li>
            </ul>
        </li>
        <li><strong>Milestones:</strong>
            <ul>
                <li>Prototype v1.0 ready for testing.</li>
                <li>Initial validation on basic systems.</li>
            </ul>
        </li>
    </ul>

    <h3>2.3 Thrust 3: AI System for Spin Configurations</h3>
    <p><strong>Objective:</strong> Develop a framework for an AI-driven system to predict spin configurations in transition metal oxides.</p>
    <ul>
        <li><strong>Tasks:</strong>
            <ul>
                <li>Q1: Literature review and identification of existing data for spin configurations.</li>
                <li>Q2-Q3: Design the architecture of the AI model.</li>
                <li>Q4: Build and test the model on simple oxides.</li>
            </ul>
        </li>
        <li><strong>Milestones:</strong>
            <ul>
                <li>AI model framework ready.</li>
                <li>Initial testing on small datasets completed.</li>
            </ul>
        </li>
    </ul>

    <h2>3. Year 2: Optimization, Scaling, and Outreach</h2>

    <h3>3.1 Thrust 1: Scaling ML Workflows</h3>
    <p><strong>Objective:</strong> Scale the ML models and workflows to handle more complex 2D materials and moiré systems.</p>
    <ul>
        <li><strong>Tasks:</strong>
            <ul>
                <li>Q1: Scale up the dataset to include larger and more complex material systems.</li>
                <li>Q2: Refine the ML algorithms to improve prediction speed and accuracy.</li>
                <li>Q3: Begin predicting the properties of new 2D materials.</li>
                <li>Q4: Publish findings on predicted new materials.</li>
            </ul>
        </li>
        <li><strong>Milestones:</strong>
            <ul>
                <li>Scaled ML model validated.</li>
                <li>Identification of new candidate materials.</li>
            </ul>
        </li>
    </ul>

    <h3>3.2 Thrust 2: Finalizing COVOs-QFlow</h3>
    <p><strong>Objective:</strong> Enhance the functionality of COVOs-QFlow and integrate advanced features.</p>
    <ul>
        <li><strong>Tasks:</strong>
            <ul>
                <li>Q1-Q2: Add advanced functionality for localized state predictions.</li>
                <li>Q3: Validate the tool with real-world data from experimental studies.</li>
                <li>Q4: Release COVOs-QFlow to the broader research community and begin documentation for users.</li>
            </ul>
        </li>
        <li><strong>Milestones:</strong>
            <ul>
                <li>Finalized version of COVOs-QFlow.</li>
                <li>Full integration with DOE HPC systems.</li>
                <li>Outreach for researchers to adopt the tool.</li>
            </ul>
        </li>
    </ul>

    <h3>3.3 Thrust 3: Optimizing AI for Spin Configurations</h3>
    <p><strong>Objective:</strong> Extend and refine the AI system for larger oxide systems.</p>
    <ul>
        <li><strong>Tasks:</strong>
            <ul>
                <li>Q1-Q2: Optimize the AI model for predicting spin configurations in complex oxide systems.</li>
                <li>Q3: Validate the system using experimental data and benchmarks.</li>
                <li>Q4: Publish results and release the tool for use by the wider materials science community.</li>
            </ul>
        </li>
        <li><strong>Milestones:</strong>
            <ul>
                <li>Validated AI tool for oxide spin configurations.</li>
                <li>Publication and dissemination of results.</li>
            </ul>
        </li>
    </ul>

    <h2>4. Risk Management</h2>
    <ul>
        <li><strong>Key Risks:</strong>
            <ul>
                <li>Dataset inadequacy for training ML models.</li>
                <li>Technical challenges in scaling COVOs-QFlow for larger systems.</li>
                <li>Difficulty in obtaining accurate experimental data for validation.</li>
            </ul>
        </li>
        <li><strong>Mitigation:</strong>
            <ul>
                <li>Use DOE HPC resources for rapid dataset expansion and model optimization.</li>
                <li>Collaborate with experimentalists for timely data sharing.</li>
                <li>Regular cross-team reviews to address challenges early.</li>
            </ul>
        </li>
    </ul>

    <h2>5. Verification, Validation, and Software Integration</h2>
    <ul>
        <li><strong>Verification:</strong> Regular testing of models and tools on benchmark systems to ensure accuracy.</li>
        <li><strong>Validation:</strong> Comparing predictions with experimental results.</li>
        <li><strong>Integration:</strong> Ensure that all tools (ML workflows, COVOs-QFlow, AI system) are compatible with DOE’s High-Performance Computing (HPC) facilities.</li>
    </ul>

    <h2>6. Outreach and Community Engagement</h2>
    <ul>
        <li><strong>Objective:</strong> Engage with the broader research community and promote diversity, equity, and inclusion.</li>
        <li><strong>Tasks:</strong>
            <ul>
                <li>Develop outreach programs targeting underrepresented groups in computational material sciences.</li>
                <li>Host workshops and webinars to train new users on the tools developed (COVOs-QFlow, AI system).</li>
                <li>Collaborate with universities and national labs for broader dissemination of research findings.</li>
            </ul>
        </li>
    </ul>

    <h2>7. Timeline of Key Activities</h2>
    <table>
        <thead>
            <tr>
                <th>Quarter</th>
                <th>Thrust 1: ML Workflows</th>
                <th>Thrust 2: COVOs-QFlow</th>
                <th>Thrust 3: AI Spin Configurations</th>
                <th>Milestones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Year 1</td>
                <td>Dataset preparation (Q1-Q2)<br>Initial ML model training (Q3-Q4)</td>
                <td>Define architecture (Q1-Q2)<br>Prototype development (Q3)</td>
                <td>Literature review (Q1-Q2)<br>AI framework design (Q3-Q4)</td>
                <td>Initial prototypes for all thrusts by Q4</td>
            </tr>
            <tr>
                <td>Year 2</td>
                <td>Scaling ML models (Q1-Q3)<br>Predict new materials (Q4)</td>
                <td>Advanced functionality (Q1-Q3)<br>Release to the community (Q4)</td>
                <td>Optimizing AI for complex oxides (Q1-Q2)<br>Publish results and tool (Q4)</td>
                <td>Full validation of models and tools by Q4</td>
            </tr>
        </tbody>
    </table>
</details>

<details>
<summary><strong>Show/Hide Software</strong></summary>
<h2>Software Used in the Project</h2>

<table>
    <thead>
        <tr>
            <th>Software</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>NWChemEx PWDFT</strong></td>
            <td>NWChemEx is an exascale version of NWChem. It integrates ML techniques and physical simulation workflows to enhance scalability and performance for computational materials design.</td>
            <td><a href="https://github.com/ebylaska/PWDFT" target="_blank">NWChemEx PWDFT GitHub Repository</a></td>
        </tr>
        <tr>
            <td><strong>Sella</strong></td>
            <td>Utility for finding first-order saddle points and minima on potential energy surfaces (PESs).</td>
            <td><a href="https://github.com/zadorlab/sella" target="_blank">Sella GitHub Repository</a></td>
        </tr>
        <tr>
            <td><strong>COVOS</strong></td>
            <td>A tool used in the project, with further details to be provided as development progresses.</td>
            <td>Not Available</td>
        </tr>
        <tr>
            <td><strong>EMSL Arrows</strong></td>
            <td>A web application that uses NWChem and chemical computational databases for materials and chemical modeling, supporting free energy methods and surface generation.</td>
            <td><a href="https://arrows.emsl.pnnl.gov/api/" target="_blank">EMSL Arrows</a></td>
        </tr>
        <tr>
            <td><strong>NWChem</strong></td>
            <td>An electronic structure theory package that implements various DFT functionals and enhancements for optimizers and beyond-DFT methods.</td>
            <td><a href="https://github.com/nwchemgit/nwchem" target="_blank">NWChem GitHub Repository</a></td>
        </tr>
       <tr>
            <td><strong>NWChem GW (Gaussian Method)</strong></td>
            <td>Gaussian GW (GW approximation for electronic structure calculations) added to NWChem for accurate electronic properties calculations in molecular systems.</td>
            <td><a href="https://github.com/nwchemgit/nwchem" target="_blank">NWChem GW on GitHub</a></td>
        </tr>
        <tr>
            <td><strong>Siesta</strong></td>
            <td>A density-functional theory (DFT) program used for ab initio molecular simulations of molecules and solids. It will be used in parallel computations to validate machine learning workflows.</td>
            <td><a href="https://gitlab.com/siesta-project" target="_blank">Siesta GitHub Repository</a></td>
        </tr>
        <tr>
            <td><strong>ExaChem</strong></td>
            <td>A tool focused on many-body methods and exascale hybrid MPI-GPU algorithms for computational chemistry.</td>
            <td><a href="https://github.com/ExaChem/exachem" target="_blank">ExaChem GitHub Repository</a></td>
        </tr>
        <tr>
            <td><strong>ExaLearn</strong></td>
            <td>A tool that integrates machine learning techniques into computational material science workflows.</td>
            <td>Not Available</td>
        </tr>
    </tbody>
</table>
</details>

    <br><br>

    <div id="swapper-first" style="display:block; border:2px dashed; border-color: #102DB0; background-color: white;  padding:25px;>
    
    <table> <tr>
    <td> <font color="443322" size="2"> <p align="justify"> This software service and its documentation were developed at the Pacific Northwest National Laboratory, a multiprogram national laboratory, operated for the U.S. Department of Energy by Battelle under Contract Number DE-AC05-76RL01830. Support for this work was provided by the Department of Energy Office of Science, Basic Energy Sciences, Computational Materials Sciences (DOE BES CMCSN) program. THE SOFTWARE SERVICE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE SERVICE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE SERVICE. </p></font> </td>
    <!--td> <a href="https://dl.dropboxusercontent.com/s/chxhlvamd8ro356/ArrowsBeaker2.gif"><img src="https://dl.dropboxusercontent.com/s/chxhlvamd8ro356/ArrowsBeaker2.gif" alt="Arrows Movie"> </a> </td-->
    </tr></table>
     Keywords: quantum chemistry calculations - quantum chemistry computations - quantum chemistry - molecular modeling calculations - molecular modeling computations - molecular modeling - chemical modeling - chemical reactions calculations - chemical reactions computations - chemical reactions - NWChem calculations - computational chemistry - NWChem 
   <br><br>
    <a href="{{ heterofam_api }}"><img src="{{url_for('static', filename='heteroatom-static/bes-subprograms-mse-4.png')}}" alt="Copyright HeteroFAM Logo" width="140" height="100" align="left"></a>
   <br><br>

<div align="right"><font color="298DB4"> HeteroFAM API visited {{ visits }} times </font></div>

</body>
</html>
